/* Allgemein  */
html {
  font-size: 20px; /* px bedeutet 'pixels': die Schriftgröße wird auf 10 Pixel gesetzt  */
  font-family: Odibee Sans; /* hier kommt der Name der ausgewählten Schriftfamilie hin */
  background-color: #ffffff; /* Hintergrundfarbe der Seite  */  
}

/* Überschrift 1  */
h1 {
  font-size: 60px; /* px bedeutet 'pixels': die Schriftgröße wird auf 10 Pixel gesetzt  */
  text-align: center; /* Zentrieren des Textes */
  margin: 30px; /* Abstand des Rahmenens zum Gesamt-Fenster (erster Wert unten/oben, zweiter Wert links/rechts)*/
  padding: 20px 0; /* Abstand des Textes zum Rahmen (erster Wert unten/oben, zweiter Wert links/rechts)*/
  color: #00539F; /* Farbe der Überschrift  */ 
  text-shadow: 3px 3px 1px black; /* Text Schatten (erster Wert horizontaler Versatz, zweiter Wert vertikaler Versatz, dritter Wert Grösse des Schattens, vierter Wert Farbe)  */ 
}

/* Text-Elemente und Absätze  */
p, li {
  font-size: 20px; /* px bedeutet 'pixels': die Schriftgröße wird auf 10 Pixel gesetzt  */     
  line-height: 2;  /* Linienhöhe des Textes */
  letter-spacing: 2px;  /* Buchstabenabstand des Textes */
}

/* Textfeld */
body { 
  width: 600px; /* Breite des Textes */
  margin: 0 auto; /* Abstand des Rahmenens zum Gesamt-Fenster (erster Wert unten/oben, zweiter Wert links/rechts)*/
  background-color: #FF9500; /*Farbe des Textfeldes */
  padding: 0 20px 20px 20px; /* Abstand des Textes zum Rahmen (erster Wert oben, zweiter Wert unten,dritter Wert links, vierter Wert rechts)*/
  border: 5px solid black; /*Rahmen um das Textfeld */
}

/*Bild*/
img {
  display: block; /*Bildelement wird in ein Blockelement umgewandelt, damit es zentriert werden kann*/
  margin: 0 auto; /* Abstand des Rahmenens zum Gesamt-Fenster (erster Wert unten/oben, zweiter Wert links/rechts)*/
}